* {
    margin: 0;
    padding: 0;
}
a {
    color: #FFF;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
img {
    border: none;
}
body{
    min-width: 1000px;
    background: #e2e2e2;
}

/* header */
.myheader {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #522a5c;
}

.nav-wrap {
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;
}

.logo {
    display: block;
    position: absolute;
    bottom: 0px;
}

.logo img {
    height: 40px;
}

.nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.nav ul {
    float: right;
}

.nav ul li {
    float: left;
    font-size: 16px;
    margin-left: 10px;
    line-height: 200%;
    padding: 0 10px;
}

.nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.github {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 0; /* 消除4px的间距 */
}
@media (max-width:1080px) {
    .github {
        display: none;
    }
}

.description {
    color: #000;
    font-size: 14px;
    margin-left: 15px;
}

.description:hover {
    color: #522a5c;
}

/* taks0002_1 */

